@charset "UTF-8";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* #31aae2;  #CAB0F1;  */
 
/*로그인 화면*/
.log_in_wrap{height:100%;} 
.log_in_con{height:100%;}
.log_in_con .log_in_img{height:100%; background-image:url("../img/log_in_main.jpg"); background-repeat: no-repeat; background-size:cover; backgroud-position:center; position:absolute; top:0; left:0;}
.log_in_con .log_in_dim{height:100%; background-color:rgba(0,0,0,0.35); position: absolute; top:0; left:0;}
.log_in_con .log_in_title{padding-top:170px; margin-bottom:20px; color:#fff; font-size:70px; font-weight:bold; }
.log_in_con .log_in_subtitle{margin-bottom:40px; font-size:30px; color:#fff; opacity:0.5; word-break:keep-all;}
.log_in_con .log_in_line{margin-bottom:80px; width:150px; border:1px solid #fff;}
.log_in_con .log_in_form_content{padding-top:50px; padding-bottom:50px; border:5px solid rgba(255,255,255,0.5);}
.log_in_con .id_form{margin-bottom:20px;}
.log_in_con .pw_form{margin-bottom:20px;}
.log_in_con .member_function{position:relative; padding:0;}
.log_in_con .member_function > li{display:inline; list-style:none;  padding-left:10px; }
.log_in_con .member_function > li > a > span{color:#fff; font-size:14px; opacity:0.8; cursor:pointer;}
.log_in_con .member_function > li > a:hover{text-decoration:none;}
.log_in_con .member_function > li > a > span:hover{color:#31aae2;}
.log_in_con .member_function > li > a:visited{text-decoration:none; color:#000;}
.log_in_con .member_function > li:not(:last-child):after{content:""; position:absolute; margin-left:8px;  top:6px; width:1px; height:10px; background-color:rgba(255,255,255,0.3);}
.log_in_con .log_in_btn{margin-bottom: 20px;}
  
/*헤더*/
.header_wrap{padding-top:22px !important; padding-bottom:22px !important; }
.header_wrap .header_con{display: flex; flex-wrap: nowrap; justify-content: space-between; align-items:center;}
.header_con .header_menu{display:inline-block; padding-bottom:10px !important; padding-top:10px !important; margin-bottom:0 !important;}
.header_con .header_menu > li {float:left; color:#fff; font-weight:bold; font-size:25px; margin-right:30px;}
.header_con .header_menu > li:last-child{margin-right:0;}
.header_con .header_menu > li > a {cursor:pointer; color:#fff; text-decoration:none;}
.header_con .header_menu > li > a:hover{color: #CAB0F1;}
.header_con .header_member_con {display:flex; position:relative}
.header_member_con .header_user, .header_mypage, .header_message{color:#fff; position:relative; margin-right:30px; position:relative;}
.header_member_con .header_user:after, .header_mypage:after, .header_message:after{content:""; position:absolute; width:1px; height:13px; top:3px; right:-16px; background-color:rgba(255,255,255,0.4);}
.header_member_con .header_mypage > a , .header_message > a{color:#fff; cursor:pointer;}
.header_member_con .header_mypage:hover > a , .header_message:hover > a{color: #CAB0F1; text-decoration:none; }


.header_member_con .header_user .user_id{font-weight:bold;}
.header_member_con .header_user:after{content:""; position:absolute; width:1px; height:13px; top:3px; right:-16px; background-color:rgba(255,255,255,0.4); }
.header_member_con .logout{color:#fff;} 
.header_member_con .logout > a{color:#fff;}
.header_member_con .logout:hover > a{color: #CAB0F1; text-decoration:none;}


 
/*회원가입, 아이디찾기 , 비밀번호 찾기 공통*/
.search_memeber_title_wrap{margin-bottom:50px;}
.search_memeber_title_con{overflow:hidden;}
.search_memeber_title_con .search_memeber_title{font-size:30px; font-weight:bold; }
.search_member_form_con{display:flex; flex-wrap:nowrap; justify-content:center; margin-bottom:40px;}
.search_member_form_con_type_2{display:flex; margin-bottom:40px;}
.search_member_form_con_type_2:last-child{margin-bottom:0}
.search_member_form_con:last-child{margin-bottom:0}
.search_memeber_form_wrap{margin-bottom:70px;}

.title_size{min-width:130px; font-size:20px; font-weight:bold;}
.title_size.type_2{min-width:200px;}
.title_size.type_3{min-width:190px;}
.title_size.type_4{min-width:350px;}
.title_size.type_5{min-width:100px;}

.user_pw_hint{position:relative;}
.user_pw_hint .select_style_0{width:220px; height:30px;}


/*회원가입*/
.register_wrap{padding:40px 40px;}
.register_member_form_con .user_id{position:relative;}
.register_member_form_con .user_gender .radio_btn_con{margin-right:46px;}
.register_member_form_con .user_gender .radio_btn_con:last-child{margin-right:0;}
.register_member_form_con .user_gender .radio_btn_con > span{font-weight:bold;}

.register_member_form_con .btn_style_1{margin-left:50px; outline:none; cursor:pointer; border-radius:12px; font-weight:bold; color:#000; font-size:15px; width:100px; height:35px; background:transparent;}
.register_member_form_con .user_id .btn_style_1:hover{border:2px solid #31aae2;}

/*회원가입 아이디*/
.register_input_con{position:relative; display:flex;}
.register_input_con .fa-times-circle:before{content:"\f057"; position:absolute; top:10px; left:165px;}
.register_input_con .fa-check:before{content:"\f00c"; position:absolute; top:10px; left:165px;}

.user_identity_num{position:relative;}
.user_identity_num .user_identity_title:after{content:""; position:absolute; width:6px; height:1px; left:64%; bottom:10px; background-color:#000;}

/*회원가입 라디오버튼*/
.register_input_con .radio_btn_con{display:flex;}
.register_input_con .radio_btn_con .radio_gender{display:block; margin-left:8px;}

/*아이디찾기*/
.find_id_wrap{padding:40px 40px;}
.find_id_wrap .search_memeber_title_wrap .circle_btn{right:-6%;}

/*비밀번호찾기*/
.find_pw_wrap{padding:40px 40px;}
.find_pw_wrap .search_memeber_title_wrap .circle_btn{right:-6%;}


/*비밀번호찾기 폼*/
.find_pw_form_wrap{}
.find_pw_form_con:not(:last-child){margin-bottom:30px; padding-top:30px; padding-bottom:30px; border-bottom:2px solid #a0a0a0; }
.find_pw_form_con:last-child{margin-bottom:0;}

.find_pw_form_wrap .find_pw_title{font-size:20px; font-weight:bold; margin-bottom:10px;}
.find_pw_form_wrap .find_pw_title > span{display:inline-block; margin-right:10px; color:#31aae2; }

.find_pw_form_wrap .find_pw_desc{margin-left:28px; margin-bottom:20px; color:#31aae2;  font-size:14px; font-weight:bold;}
.find_pw_form_wrap .find_pw_email{margin-left:28px; margin-bottom:20px; font-weight:bold;}
.find_pw_form_wrap .find_pw_email > font{color: #31aae2; }


/*메인 컨텐츠*/
.main_content_wrap{overflow:hidden;}
.calender_wrap{padding:40px 40px; margin-bottom:40px;}
.notice_wrap {padding:40px 40px;}
.notice_wrap .main_btn_con{margin-top:40px;}

.content_wrap{border:3px solid #31aae2;}
.content_title{font-size:30px; font-weight: bold; padding: 20px 20px;}
.content_title > span{display:inline-block; border-bottom:3px solid #31aae2; padding-bottom:10px;}
.study_list_wrap{padding:40px 40px; margin-bottom: 40px; margin-top:40px;}
.left_content{margin-right:50px;}
.right_content{margin-left:50px;}

.calender_menu{margin-bottom:20px;}


/*스터디목록 및 버튼 스타일*/
.main_study_list_con{margin-bottom:40px;}
.main_btn_con{display:flex; flex-wrap:nowrap; justify-content:center}
.main_btn_con .list_btn{margin-right:25px; margin-left:25px;}
.main_btn_con .make_btn{margin-right:25px; margin-left:25px;}

/*달력*/
/*달력버튼*/
.today_btn{margin-right:15px; font-size:12px; border-radius:25px; padding:8px 16px; outline:none; cursor:pointer; border:2px solid #31aae2;  background-color:transparent;}
.today_btn:hover{border:2px solid #CAB0F1;}

/*이전버튼*/
.prev_btn{margin-right:15px; position:relative; border-radius:50px; top:8px; width:32px; height:32px; outline:none; cursor:pointer; border:2px solid #31aae2; background-color:transparent;  }
.prev_btn:hover{border:2px solid #CAB0F1;}
.prev_btn:before{content:""; position:absolute; width:10px; height:1px; border:1px solid #31aae2; background-color:#31aae2; top:9px; left:7px; transform: rotate(135deg);}
.prev_btn:hover:before{border:1px solid #CAB0F1; background-color:#CAB0F1;}
.prev_btn:after{content:""; position:absolute; width:10px; height:1px; border:1px solid #31aae2; background-color:#31aae2; top:16px; left:7px; transform: rotate(45deg); }
.prev_btn:hover:after{border:1px solid #CAB0F1; background-color:#CAB0F1;}

/*다음버튼*/
.next_btn{margin-right:15px; position:relative; border-radius:50px; top:8px; width:32px; height:32px; outline:none; cursor:pointer; border:2px solid #31aae2;  background-color:transparent; }
.next_btn:hover{border:2px solid #CAB0F1;}
.next_btn:before{content:""; position:absolute; width:10px; height:1px; border:1px solid #31aae2; background-color:#31aae2; top:9px; left:9px; transform: rotate(45deg);}
.next_btn:hover:before{border:1px solid #CAB0F1; background-color:#CAB0F1;}
.next_btn:after{content:""; position:absolute; width:10px; height:1px; border:1px solid #31aae2; background-color:#31aae2; top:16px; left:9px; transform: rotate(135deg); }
.next_btn:hover:after{border:1px solid #CAB0F1; background-color:#CAB0F1;}





.calender_con{overflow:hidden; margin-bottom: 40px;}
.calender_month_con{display:flex; flex-wrap: nowrap; justify-content: center;}
.left_arrow_con{margin-right:50px;}
.right_arrow_con{margin-left:50px;}
.left_arrow_con .left_arrow{cursor:pointer; width:18px; height:18px; transform: rotate(180deg);}
.right_arrow_con .right_arrow{cursor:pointer;  width:18px; height:18px;}

/*달력 화살표 년 월*/
.month_choice{position: relative;}
.choice_year, .choice_month{font-size:20px; position: absolute; }
.month_choice .choice_year{top:-6px; left:-35px;}
.month_choice .choice_month{top:-6px; left:20px;}

.calender > tbody > tr > th {width:100px;}
.cal_day{text-align: center;}



/*마이페이지*/
.mypage_list_con{background-color:#CAB0F1; height:100%; padding:20px 20px; }
.mypage_list_con .mypage_list > li{font-size:20px; font-weight:bold; color:#fff; margin-bottom:50px; margin-top:50px;}
.mypage_list_con .mypage_list > li:hover{color:#31aae2;}
.mypage_list_con .mypage_list > li > a{cursor:pointer;}
.mypage_list_title{padding-bottom:20px; margin-bottom:20px; border-bottom:2px solid #fff; width:auto; font-size:25px; font-weight:bold; color:#fff;}

.mypage_content_con{padding:50px 50px;}
.mypage_content_con .mypage_content_title{margin-bottom:80px;}
.mypage_content_con .mypage_content_title > span{display:inline-block; padding-bottom:15px; font-size:30px; font-weight:bold; border-bottom:3px solid #31aae2; }

.user_info_modify, .my_participate_list, .my_make_list{border-bottom:3px solid #CAB0F1; padding-bottom:50px; margin-bottom:50px;}

.modify_line_con{margin-bottom:80px;}
.modify_line{display:flex; margin-bottom:50px;}
.modify_line:last-child{margin-bottom:0;}
.modify_con{display:flex; margin-right:120px;}
.modify_phonenumber .title_size, .modify_pw .title_size{margin-right:40px;}


.mypage_content_con .my_participate_study{margin-bottom:50px;}
.mypage_content_con .my_make_study{margin-bottom:50px;}

.mypage_top_btn_con{width:75px; height:75px; border-radius:50px; background-color:#CAB0F1; position:fixed; left:92%; top:20%;}
.mypage_top_btn_con >a{display:block; transform: rotate(270deg); width:50px; height:50px; margin-left:12px; margin-top:12px; cursor:pointer;}


/*스터디관리*/
.manageStudy_wrap{padding:50px 50px;}
.manageStudy_con{margin-bottom:100px;}
.manageStudy_title, .see_apply_study_con{margin-bottom:50px;}
.manageStudy_title, .see_apply_study_con > span{display:inline-block; padding-bottom:15px; font-size:30px; font-weight:bold; border-bottom:3px solid #31aae2; }


/*스터디 생성*/
.make_study_wrap{padding:40px 40px;}
.make_study_title_con{overflow:hidden; margin-bottom:80px;}

.make_study_input_con{display:flex; position:relative;}
.make_study_input_con .fa-times-circle:before{content:"\f057"; position:absolute; top:10px; left:165px;}
.make_study_input_con .fa-check:before{content:"\f00c"; position:absolute; top:10px; left:165px;}
.make_study_input_con .btn_style_1{margin-left:50px; outline:none; cursor:pointer; border-radius:12px; font-weight:bold; color:#000; font-size:15px; width:100px; height:35px; background:transparent;}
.study_area .btn_style_1{margin-left:50px;}
.make_study_input_con .select_style_0{width:150px; height:30px; border:1px solid #31aae2;}

.make_study_title_con .make_study_title{font-size:30px; font-weight:bold;}
.make_study_form:not(last-child){display:flex; margin-bottom:40px;}
.make_study{position:relative;}
.make_study_form_wrap{margin-bottom:50px;}



/*스터디 정보*/
.study_info_title_con{overflow:hidden;}
.study_info_title_con .study_info_title{font-size:30px; font-weight:bold;}
.study_info_form{display:flex; flex-wrap:nowrap; justify-content:center; margin-bottom:40px;}
.study_info{position:relative;}
.study_info_form_wrap{margin-bottom:50px;}
.study_info_title_wrap{padding-top:30px; margin-bottom:80px;}

/*스터디 더보기*/
.moreStudy_list_wrap{padding:40px 40px; margin-top:70px;}
.moreStudy_list_wrap .apply_btn{margin-top:50px;}

/*스터디 신청서*/
.study_apply_con .study_apply_sub_title{font-size:20px; font-weight: bold; margin-bottom:30px;}
.textarea_style_con .textarea_style{resize:none; margin-bottom:30px;}
.btn_style_1_con .btn_style_1{margin-bottom:20px;}
.study_apply_wrap{padding:70px 50px;}


/*쪽지함*/
.message_list_wrap{padding:40px 40px;}
.message_list_wrap .message_btn{margin-top:40px;}
.message_list_wrap .content_title{padding: 0 0; margin-bottom:40px;}
.message_page_list_con{background-color:#CAB0F1; height:100%; padding:20px 20px; }
.message_page_list_con .message_list > li{font-size:20px; font-weight:bold; color:#fff; margin-bottom:50px; margin-top:50px;}
.message_page_list_con .message_list > li:hover{color:#31aae2;}
.message_page_list_con .message_list > li > a{cursor:pointer;}
.message_list_title{padding-bottom:20px; margin-bottom:20px; border-bottom:2px solid #fff; width:auto; font-size:25px; font-weight:bold; color:#fff;}


/*쪽지 보내기*/
.send_message_wrap{padding:40px 40px;}
.send_message_wrap .make_study_title_wrap .circle_btn{right:0%;}
.send_message_wrap .content_title{padding:0 0; margin-bottom:70px;}

.send_message_form{display:flex; flex-wrap:nowrap; justify-content:center; margin-bottom:40px;}

.summer_note_con .title_size{margin-bottom:40px;}
.summer_note_con .summer_note{margin-bottom:40px;}





